<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>
    *{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .main-header{
        width: 100%;
    }
    .container{
        display: flex;
        padding: 20px;
        max-width: 1200px;
        margin: auto;
    }

    .main-header .logo{}
    .main-header .logo img{}
    .main-header .main-nav{}
    .main-header .main-nav a{}
    .main-header .header-search{}
</style>

</head>
<body>

    <header class="main-header">
        <div class="container">

            <!-- logo -->
            <a href="#" class="logo">
                <img src="https://picsum.photos/50/50/?random=1">
            </a>
            
            <!-- navigator -->
            <nav class="main-nav">
                <a href="#">AAAAA</a>
                <a href="#">BBBBB</a>
                <a href="#">CCCCC</a>
                <a href="#">DDDDD</a>
            </nav>

            <!-- search -->
            <form class="header-search">
                <input type="search" name="" id="">
                <button>Q</button>
            </form>
        </div>
    </header>

</body>
</html>